body, html {
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Lato', sans-serif;
	letter-spacing: 0.3px;
	color: #333333;
    align-items:center;
  justify-content:center;
	}

::-webkit-scrollbar {
    width: 0px ; /*  remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible*/ 
    height:3px;
}

::-webkit-scrollbar-thumb {
	width: 0px ;
	border-radius:10px;
	background-color: #53a374;
	height:2px;
}

::-webkit-scrollbar-button  {
    height:0px;
}


::-webkit-scrollbar-corner  {
    display:none;    
}
a {
    outline: none !important;
    text-decoration: none !important;  
}
a:focus{
	border: none;
}
.navbar-brand{
	margin-top: 1vh;
    color: #003484 !important;
    font-size: 1.5vw;
}

.indexNavbarIitrLogo{
	height: 10vw;
    width: 8vw;
    margin-top: -7vh;
    margin-left: 3vw;
    margin-right: 2vw;
}

.navbar-default .navbar-nav>li>a {
    color: #777;
    font-size: 1.2vw;
        margin-top: 3vh;
    margin-right: 1vw;

}

.sparkFullFormTag{
    margin-left: 10.2vw;
    font-size: 1.05vw;
    margin-top: -6vh
}
.sparkNavbarTag{
    font-size: 2.4vw !important;
    color: #0a5670 !important;
    margin-left: -5vw !important;
}
/* slider css */

.indexSliderImage{
	height:80vh !important;
	width: 100vw; 
    margin-top: 0 !important;

}
.projectPage{
    margin-left: 2.5vw !important;
}
/* main body css */

.indexIntroductionTag{
	font-size: 2vw;
    color: #666;
    letter-spacing: -0px;
    /*text-align: center;*/
    border-bottom: 1px solid #999;
    margin-top: 7vh;
    font-weight: 700;
    padding-bottom: 1.5vh;
}

.indexIntroductionText{
	font-size: 1.1vw;
    letter-spacing: .5px;
    word-spacing: 1px;
    padding: 1vh 2vw 0 0vw;
}

.indexGuidelinesTag{
	font-size: 2vw;
    color: #666;
    letter-spacing: -0px;
    /*text-align: center;*/
    border-bottom: 1px solid #999;
    margin-top: 3vh;
    font-weight: 700;
    padding-bottom: 1.5vh
}
.indexGuidelines{
    list-style-type: none;
    padding-right: 5%
	/*padding-left: 8vw*/
}
.indexGuidelines1{
    padding-left:2vw;
}

.indexGuidelines li{
    font-size: 1.1vw;
    padding-top: 2vh;
    letter-spacing: .5px;
    margin-left: -2.5%;
    word-spacing: 1px;
}


.indexObjectiveTag {
    font-size:1.5vw;
    color:#777;
    margin-left: 1vw;
    margin-bottom: -2vh;
    margin-top: 2vh

}

/*.indexObjectiveText{
    font-size: 2vw;
    letter-spacing: 0.5px;
    word-spacing: 0px;
    margin-top: 0px;
}
*/
.loginModalHeader{
	text-align: center;
    color: #fff;
    font-size: 1.5vw;
    font-weight: 600;
}
.loginModalSignupButton{
	font-size: 1.2vw;
    padding: 1vh 2vw;
	}

.loginModalWidth{
	width: 33%
}
.modal-content{
	border-radius: 5px;
	margin-top: 5vh
}
.modal-dialog{
	margin-top: 25vh
}
.signupModalSignupButton{
	width: 25vw;
    font-size: 1.3vw;
    margin-top: 0vh
    /*word-spacing: 1vw*/
}
.signupHereTag{
    font-size: 3vw;
    text-align: center;
    margin-bottom: 2vh;
    font-weight: 300;
    margin-top: 0vh;
    color: rgba(41, 0, 255, 0.73);
}


.rainbow-button {
  width:calc(15vw + 6px);
  height:calc(4vw + 6px);
  background-image: linear-gradient(90deg, #00C0FF 0%, #FFCF00 49%, #FC4F4F 80%, #00C0FF 100%);
  border-radius:5px;
  display:flex;
  align-items:center;
  justify-content:center;
  text-transform:uppercase;
  font-size:1.7vw;
  word-spacing: 5px;
  /*font-weight:bold;*/
  color: #fff;
  /*padding: 2vh 2vw;*/
    margin-top: 5vh;

  }
.rainbow-button:after {
  content:attr(alt);
  width:15vw;
  height:4vw;
  background-color:#000;
  display:flex;
  align-items:center;
  justify-content:center;

}
.rainbow-button:hover {
  animation:slidebg 2s linear infinite;
  background-color:#fff;
  color: #fff;
}

@keyframes slidebg {
  to {
    background-position:20vw;
  }
}
.moveToUpButton{
    font-size: 2.6vw;
    background-color: rgba(193, 198, 206, 0.67);
    color: rgba(0, 0, 0, 0.59);
    border-radius: 5px;
    padding: .3% 6px .3% 10px;
    text-align: center;
    position: fixed;
    top: 85vh;
    left: 92%;
    z-index: 100;
}
/*footer*/

.footerBottom{
    background-color: #2f2f2f;
    color: #ffffff;
}

.footer {
    background: #EDEFF1;
    height: auto;
    padding-bottom: 30px;
    position: relative;
    width: 100%;
    border-bottom: 1px solid #CCCCCC;
    border-top: 1px solid #DDDDDD;
}
.footer p {
    margin: 0;
}
.footer img {
    max-width: 100%;
}

.footer h3 {
    border-bottom: 1px solid #BAC1C8;
    color: #54697E;
    font-size: 18px;
    font-weight: 600;
    line-height: 27px;
    padding: 40px 0 10px;
    text-transform: uppercase;
}
.footer ul {
    font-size: 13px;
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
    margin-top: 15px;
    color: #7F8C8D;
}
.footer ul li a {
    padding: 0 0 5px 0;
    display: block;
    text-decoration: none;
     color: #78828D
}

.footer ul li a:hover {
    padding: 0 0 5px 0;
    display: block;
    text-decoration: none;
     color: #000;
     font-size: 13.5px
}
.studentProjectStatus{
    font-size: 1.4vw;
    padding-top: 1vh;
    text-align: center;
}
.footerThirdDiv{
    margin-left: 6.5vw
}

.footerSeconddDiv{
    margin-left: 6vw;
}

.social li {
    background: none repeat scroll 0 0 #B5B5B5;
    border: 2px solid #B5B5B5;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    float: left;
    height: 36px;
    line-height: 36px;
    margin: 0 8px 0 0;
    padding: 0;
    text-align: center;
    width: 36px;
    transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -webkit-transition: all 0.5s ease 0s;
    -ms-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
}
.social li:hover {
    transform: scale(1.15) rotate(360deg);
    -webkit-transform: scale(1.1) rotate(360deg);
    -moz-transform: scale(1.1) rotate(360deg);
    -ms-transform: scale(1.1) rotate(360deg);
    -o-transform: scale(1.1) rotate(360deg);
}
.social li a {
    color: #EDEFF1;
}
.social li:hover {
    border: 2px solid #2c3e50;
    background: #2c3e50;
}
.social li a i {
    font-size: 16px;
    margin: 0 0 0 5px;
    color: #EDEFF1 !important;
}

.socialIcon1{
    
}
.socialIcon2{

    
}
.footer-bottom {
    background: #E3E3E3;
    border-top: 1px solid #DDDDDD;
    padding-top: 10px;
    padding-bottom: 10px;
}
.footer-bottom p.pull-left {
    padding-top: 6px;
}
.payments {
    font-size: 1.5em;
}




.indexRegisterButton {
    background-image: -moz-linear-gradient(center bottom, #BBBBBB 0%, #F0F0F0 100%);
    box-shadow: 0 1px 0 #B4B3B3;
}


.full {
    width: 100%;
}
.gap {
    height: 30px;
    width: 100%;
    clear: both;
    display: block;
}

.supportLi h4 {
    font-size: 20px;
    font-weight: lighter;
    line-height: normal;
    margin-bottom: 0 !important;
    padding-bottom: 0;
}
.projectsAvailableTag{
    font-size: 2.5vw;
    color: #498296;
    letter-spacing: -0px;
    margin-top: 1vh !important;
    font-weight: 700;
    padding-bottom: 1.5vh;
    margin-left: -2.0vw
}
.studentProjectTag{
    font-size: 2.5vw;
    margin-left: -4%;
    margin-top: -.5vh
}
.TableDiv{
    margin-top:.5vh
}
.projectSearchingInput{
    font-size: 2vh;
    margin-top:0vh;

    
}
.studentSearchingInput{
    font-size: 2vh;
    margin-top:0vh;
    margin-left: 4.4vw;
}

.TableDiv ul li{
    margin-left: -1.5%;
}
.projectTableDiv{
    margin-top: 2vh;
    border:1px solid #ddd;
    border-radius: 10px;
    padding-top: 15px;
    margin-bottom:  5vh
}
.dropdown-menu{
    width: 8vw;
    min-width: 0
}
.dropdown-menu li{
    cursor: pointer;
}
.studentTabContentDiv{
    height: 67vh;
    overflow: scroll;
    border-radius: 2px;
    border-bottom:1px solid #ddd;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
}
/* student page   */

.uploadResumeButton{
    margin-top: 2vh;
}
.uploadResumeSubmitButton{
    margin-top: -5vh;
    float: right;
}
.studentProfileContainer{
        padding-left: 4%;
    margin-top: 1vh;
}
.studentProfileImg{
    height:7vw;
    width: 12vw;
    border-radius: 5px;
    border:1.5px solid #ddd;
}

 .studentProfileName{
        font-size: 3vh;
 }


.studentProfileDetailsTag{
    margin-top: -1vh;
    margin-bottom: 1vh;
    padding-left:14%
}
.studentProfileDetails{
    font-size: 2.5vh;
    color: rgba(9, 9, 9, 0.48);
    margin-top: -1vh;
    padding-left: 14%;
    padding-bottom:1vh;
}
.studentProfileLogoutButton{
    width: 10vw;
    margin-left: 7%;
    text-align: center;
    /*margin-bottom: 10vh;*/
}
.rightContainerStudent{
    margin-left: 3vw
}

.studentProfileUpperMargin{
    margin-top: 3vh
}
.studentProfileImageSubmitButton{
    width: 120px;
    background-color: #003484;

}
.studentProfileUploadTag{
    font-size: 2.2vh;
    font-weight: bold;
    margin: unset;
    margin-top: 2.5vh;
    margin-left: 4%;
    margin-bottom: 0vh;
}


p.studentProfileInstructionsTag {
    margin-bottom: 0vh;
    margin-left: -4vh;
    font-size: 4vh;
}

p.studentProfileInstructionsTag:first-letter{
    font-size: 4vh;
    margin-bottom: 4vh;
}


p.studentProfileStatusTag {
    margin-left: 2vh;
    margin-bottom: 0vh;
    font-size: 4vh;
}

p.studentProfileStatusTag:first-letter{
    font-size: 4vh; }

.studentProfileStatusBox{
   
}

.studentProfileStatus {

    margin-top: 0px;
    font-size: 2vh;
}

.studentProfileInstructionBox{
    margin-bottom: 0px;
}

.studentProfileSeeTranscriptsButton{
    /*margin-left:5vw;*/
    margin-top: 2vh;
}

.studentProfileSeeTranscriptsButton1{
    /*margin-left:5vw;*/
    margin-top: 2vh;
}
.uploadResume{
    margin-left: -1vw !important
}
.uploadNOC{
    margin-left: 0vw ;
}
.studentProfileComplaintBox{
    width:96.5%;
    padding: 15px;
    margin-bottom: 20px;
    margin-left: 2.5vh;
    border: 1px solid #286090;
    border-radius: 4px;
}

.studentProfileComplaintTag{
    font-size: 1.7vw;
    font-weight: bold;
    margin-top: 2.5vh;
    margin-left: 0.8vh;
    }

.studentProfileComplaintButton,
.studentProfileComplaintButton:focus,
.studentProfileComplaintButton:visited{
    width: 30%;
    padding:1vh;
    background-color: #003484;
    color:#fff; 
    font-size: 1.3vw;
    -webkit-box-shadow: 0px 2px 11px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 11px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 2px 11px 0px rgba(0,0,0,0.75);
}
.studentProfileComplaintButton:hover{
    color: #fff;
    -webkit-box-shadow: 3px 3px 14px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 3px 14px 1px rgba(0,0,0,0.75);
    box-shadow: 3px 3px 14px 1px rgba(0,0,0,0.75);
}
.inputfile {

    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;

}

.inputfile1 {
    overflow: hidden;
    position: absolute;
    margin-top: 13px;
}


.inputfile + label {
    font-size: 2vh;
    font-weight: 700;
    color: white;
    background-color: rgb(42, 101, 152);
    display: inline-block;
    border-radius: 3px;
    border: 1px solid #777;
    padding: 6px 7px;
    margin-top: 2vh;

}
.inputimage {

    opacity: 0;
    /*overflow: hidden;*/
    /*position: absolute;*/
    z-index: -1;

}


.selectImageButton span{
    margin-right: .4vw
}
@media only screen and (max-width: 768px)
{.navbar-collapse.collapse {
    height: 27vh !important;
}
}
.inputimage + label {
    font-size: 1vw;
    font-weight: 400;
    color: white;
    width:10.5vw;
    background-color: rgb(42, 101, 152);
    display: inline-block;
    border-radius: 2px;
    border: 1px solid #777;
    padding: 4px 8px;
    margin-top: -1vh;
    margin-left: 6%;
    align-content: center;
}
.inputimage + label:hover,
.inputfile + label:hover{
    -webkit-box-shadow: 0px 0px 11px -2px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 11px -2px rgba(0,0,0,0.75);
box-shadow: 0px 0px 11px -2px rgba(0,0,0,0.75);

}
label{
    max-width: none !important;
}


/* doctor page */
.doctorsStudentContainer{
    margin-left: 2%;
    padding:3vh 10px;
    
border-radius: 10px;
margin-top: 5vh;
margin-bottom: 8vh
}
.borderBox{
    -webkit-box-shadow: 0px 0px 11px -3px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 11px -3px rgba(0,0,0,0.75);
box-shadow: 0px 0px 11px -3px rgba(0,0,0,0.75);
}
.doctorsStudentTabImg{
        height: auto;
    width: 10vw;
}
.doctorsStudentTabName{
    font-size: 2.5vh;
    text-align: center;
    padding-top: 1.5vh;
}
.doctorsStudentTabYear{
    font-size: 1.8vh;
    margin-top: -1vh;
    text-align: center;
}
.facultyAddRemark{
    border-radius: 8px
}


.facultyProfileComplaintButton{
    margin-left: 30vh;
    margin-top: 0vh;

}

.facultyProfileComplaintBox{
    width:96.5%;
    padding: 15px;
    margin-bottom: 2vh;
    margin-left: 2.5vh;
    border: 1px solid #286090;
    border-radius: 4px;
}

.facultyProfileComplaintTag{
    font-size: 3vh;
    font-weight: bold;
    margin: unset;
    margin-top: 2.5vh;
    margin-left: 0.8vh;
    text-align: center;
}

.facultyProfileTableTag {
    font-size: 2vh;
    float: left;
    padding: 0 ;
    margin-right: 0vh;
}

.facultyProfileTableTag0{
    padding-left: 2vw;
    padding-right: 1vw;
}

.facultyProfileTableTag1{
 padding-left: 2vw;
    padding-right: 1vw;   
}

.facultyProfileTableTag2{
    padding-left: 2vw;
    padding-right: 2vw;
}

.facultyProfileTableTag3{
    padding-left: 2vw;
    padding-right: 1vw;
}

.facultyProfileTableTag4{
    padding-left: 2vw;
    padding-right: 1vw;
}

.facultyRegisterInput{
    
}

.viewFile{


}

.pdfDisplay{
    height: 70vh;
}

.indexNotice{
    font-size: 1.1vw;
}

.indexNoticeTag{
    text-align: center;
    font-weight: bold;
    padding: 2vw;
}
.indexNoticeText{
    margin-top: -3vh

}


.headerLogin,
.headerLogin:visited,
.headerLogin:focus{
    background-color: #777 !important;
    border-radius: 40px;
    color:white !important;
    padding :10px 50px !important;
    margin-left: 10px;
    margin-top: 23px !important;
    -webkit-box-shadow: 2px 2px 4px 0px rgba(0,0,0,0.4);
-moz-box-shadow: 2px 2px 4px 0px rgba(0,0,0,0.4);
box-shadow: 2px 2px 4px 0px rgba(0,0,0,0.4);
}
.headerLogin:hover{
    background-color: #777 !important;
     -webkit-box-shadow: 2px 4px 14px 0px rgba(0,0,0,0.4);
-moz-box-shadow: 2px 4px 14px 0px rgba(0,0,0,0.4);
box-shadow: 2px 4px 14px 0px rgba(0,0,0,0.4);

    }
@media (min-width: 768px){
.navbar-right {
    margin-right: 1vw !important;
}



