@media only screen and (min-width: 768px) and (max-width: 992px) {



    .sparkNavbarTag{
    display: none;
    }
    .sparkFullFormTag{
    display: none;
    }
    .indexNavbarIitrLogo{
        height: auto;
        width: 7vw;


    }

    .navbar-default .navbar-nav>li>a {
        font-size: 2.5vh;
        margin-right: 0px;
    }

    .navbarTabFix{

    }


    .inputfile {

        opacity: 0;
        overflow: hidden;
        position: absolute;
        z-index: -1;

    }

    .inputfile1 {
        overflow: hidden;
        position: absolute;
        margin-top: 13px;
        margin-left: -2vh;
    }


    .inputfile + label {
        font-size: 2vh;
        font-weight: 700;
        color: white;
        background-color: rgb(42, 101, 152);
        display: inline-block;
        border-radius: 3px;
        border: 1px solid #777;
        padding: 6px 7px;
        margin-top: 2vh;
        margin-left:5%
    }

.projectSearchingInput{

}

    .studentProfileUploadTag0{
        font-size: 2vh;
        font-weight: bold;
        text-align: center;
        margin: unset;
        margin-left: 4%;

        margin-top: 2.5vh;
    }

    .studentProfileUploadTag{
        font-size: 2vh;
        font-weight: bold;
        margin: unset;
        margin-top: 2.5vh;

    }



    .selectImageButtonTabFix {
        margin: 0vh;
        width: 100%;
    }

    .studentProfileComplaintBox{
        width:94%;
        padding: 15px;
        margin-bottom: 20px;
        margin-left: 2.5vh;
        border: 1px solid lavender;
        border-radius: 4px;
    }

    .studentProfileComplaintTag{
        font-size: 3vh;
        font-weight: bold;
        margin: unset;
        margin-top: 2.5vh;
        margin-left: 0vh;
        margin-bottom: 1vh;

    }

    .studentProfileSeeTranscriptsButton{
        margin-left: 5vh;
    }

    .studentProfileSeeTranscriptsButton1{
        margin-left: 6vh;
    }

    .facultyProfileComplaintBox{
        width:94%;
        padding: 15px;
        margin-bottom: 2vh;
        margin-left: 2.5vh;
        border: 1px solid lavender;
        border-radius: 4px;
    }
    .facultyProfileComplaintTag{
        font-size: 3vh;
        font-weight: bold;
        margin: unset;
        margin-top: 2.5vh;
        margin-left: 4vh;
        margin-bottom: 1vh;
        text-align: center;
    }

    .facultyProfileComplaintButton{
        margin-left: 15vh;

    }



    .facultyRegisterInput{
           }

    .pdfDisplay{
        height: 100vh;
    }















}
