body, html {
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Lato', sans-serif;
	letter-spacing: 0.3px;
	color: #333333
	}

::-webkit-scrollbar {
    width: 0px ; /*  remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible*/ 
    height:3px;
}

::-webkit-scrollbar-thumb {
	width: 0px ;
	border-radius:10px;
	background-color: #53a374;
	height:2px;
}

::-webkit-scrollbar-button  {
    height:0px;
}


::-webkit-scrollbar-corner  {
    display:none;    
}
a:focus{
	border: none;
}
.navbar-brand{
	margin-top: 1vh;
    color: #003484 !important;
    font-size: 1.5vw;
}

.indexNavbarIitrLogo{
	height: auto;
    width: 4.5vw;
    margin-top: -1.5vh;
    margin-left: 3vw;
    margin-right: 1vw;
}

.navbar-default .navbar-nav>li>a {
    color: #777;
    font-size: 1.2vw;
        margin-top: 3vh;
    margin-right: 1vw;

}

.sparkFullFormTag{
    margin-left: 29%;
    font-size: 1.1vw;
}
.sparkNavbarTag{
    font-size: 2.4vw !important;
}
/* slider css */

.indexSliderImage{
	height:80vh !important;
	width: 100vw; 
    margin-top: 0 !important;

}

/* main body css */

.indexIntroductionTag{
	font-size: 2.5vw;
    color: #666;
    letter-spacing: -0px;
    /*text-align: center;*/
    border-bottom: 1px solid #999;
    margin-top: 10vh;
    font-weight: 700;
    padding-bottom: 1.5vh
}

.indexIntroductionText{
	font-size: 1.1vw;
    letter-spacing: .5px;
    word-spacing: 1px;
    padding: 1vh 2vw 0 6vw;
}

.indexGuidelinesTag{
	font-size: 2.5vw;
    color: #666;
    letter-spacing: -0px;
    /*text-align: center;*/
    border-bottom: 1px solid #999;
    margin-top: 5vh;
    font-weight: 700;
    padding-bottom: 1.5vh
}
.indexGuidelines{
	padding-left: 8vw
}
.indexGuidelines li{
    font-size: 1vw;
    padding-top: 2vh;
    letter-spacing: .5px;
    word-spacing: 1px;
}

.indexApplyNowButton{
	font-size: 1.4vw;
    letter-spacing: 1.5px;
    font-weight: 700;
    color: #fff;
    border: none;
    border-radius: 5px;
    width: 15vw;
    padding: 2vh 0;
    margin-top: 5vh;
    
}


.indexObjectiveTag {
    font-size:2vw;
    color:#777;
    margin-left: 3vw;
    margin-bottom: 0px;

}

.indexObjectiveText{
    font-size: 2.4vw;
    letter-spacing: 0.5px;
    word-spacing: 0px;
    margin-top: 0px;
}

.loginModalHeader{
	text-align: center;
    color: #fff;
    font-size: 1.5vw;
    font-weight: 600;
}
.loginModalSignupButton{
	font-size: 1.2vw;
    padding: 1vh 2vw;
	}

.loginModalWidth{
	width: 33%
}
.modal-content{
	border-radius: 5px;
	margin-top: 5vh
}
.modal-dialog{
	margin-top: 25vh
}
.signupModalSignupButton{
	width: 25vw
}

.moveToUpButton{
    font-size: 2.6vw;
    background-color: rgba(193, 198, 206, 0.67);
    color: rgba(0, 0, 0, 0.59);
    border-radius: 5px;
    padding: .3% 6px .3% 10px;
    text-align: center;
    position: fixed;
    top: 85vh;
    left: 92%;
    z-index: 100;
}
/*footer*/

.footerBottom{
    background-color: #2f2f2f;
    color: #ffffff;
}

.footer {
    background: #EDEFF1;
    height: auto;
    padding-bottom: 30px;
    position: relative;
    width: 100%;
    border-bottom: 1px solid #CCCCCC;
    border-top: 1px solid #DDDDDD;
}
.footer p {
    margin: 0;
}
.footer img {
    max-width: 100%;
}
.footer h3 {
    border-bottom: 1px solid #BAC1C8;
    color: #54697E;
    font-size: 18px;
    font-weight: 600;
    line-height: 27px;
    padding: 40px 0 10px;
    text-transform: uppercase;
}
.footer ul {
    font-size: 13px;
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
    margin-top: 15px;
    color: #7F8C8D;
}
.footer ul li a {
    padding: 0 0 5px 0;
    display: block;
    text-decoration: none;
     color: #78828D
}

.footer ul li a:hover {
    padding: 0 0 5px 0;
    display: block;
    text-decoration: none;
     color: #000;
     font-size: 13.5px
}
.studentProjectStatus{
    font-size: 1.4vw;
    padding-top: 1vh;
    text-align: center;
}


.social li {
    background: none repeat scroll 0 0 #B5B5B5;
    border: 2px solid #B5B5B5;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    float: left;
    height: 36px;
    line-height: 36px;
    margin: 0 8px 0 0;
    padding: 0;
    text-align: center;
    width: 36px;
    transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -webkit-transition: all 0.5s ease 0s;
    -ms-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
}
.social li:hover {
    transform: scale(1.15) rotate(360deg);
    -webkit-transform: scale(1.1) rotate(360deg);
    -moz-transform: scale(1.1) rotate(360deg);
    -ms-transform: scale(1.1) rotate(360deg);
    -o-transform: scale(1.1) rotate(360deg);
}
.social li a {
    color: #EDEFF1;
}
.social li:hover {
    border: 2px solid #2c3e50;
    background: #2c3e50;
}
.social li a i {
    font-size: 16px;
    margin: 0 0 0 5px;
    color: #EDEFF1 !important;
}

.footer-bottom {
    background: #E3E3E3;
    border-top: 1px solid #DDDDDD;
    padding-top: 10px;
    padding-bottom: 10px;
}
.footer-bottom p.pull-left {
    padding-top: 6px;
}
.payments {
    font-size: 1.5em;
}




.indexRegisterButton {
    background-image: -moz-linear-gradient(center bottom, #BBBBBB 0%, #F0F0F0 100%);
    box-shadow: 0 1px 0 #B4B3B3;
}


.full {
    width: 100%;
}
.gap {
    height: 30px;
    width: 100%;
    clear: both;
    display: block;
}

.supportLi h4 {
    font-size: 20px;
    font-weight: lighter;
    line-height: normal;
    margin-bottom: 0 !important;
    padding-bottom: 0;
}
.projectsAvailableTag{
    font-size: 2.5vw;
    color: #666;
    letter-spacing: -0px;
    
    margin-top: 4vh;
    font-weight: 700;
    padding-bottom: 1.5vh
}

.projectSearchingInput{
    margin-top: 5vh
}


.signupHereTag{
    font-size: 3vw;
    text-align: center;
    margin-bottom: 5vh;
    font-weight: 300;
    margin-top: 3vh;
    color: rgba(41, 0, 255, 0.73);
}


/* student page   */

.uploadResumeButton{
    margin-top: 2vh;
}
.uploadResumeSubmitButton{
    margin-top: -5vh;
    float: right;
}
.studentProfileContainer{
        padding-left: 4%;
    margin-top: 1vh;
}
.studentProfileImg{
height: auto;
    width: 8vw;
}
.studentProfileDetailsTag{
    margin-top: -1vh;
    margin-bottom: 1vh;
    padding-left: 5%
}
.studentProfileDetails{
    font-size: 1.2vw;
    color: rgba(9, 9, 9, 0.48);
    margin-top: -1vh;
    padding-left: 5%;
    padding-bottom:1vh;
}
.studentProfileLogoutButton{
    width: 10vw;
    margin-left: 5%;
    margin-top: 0vh;
}
.studentProfileUpperMargin{
    margin-top: 3vh
}
.studentProfileImageSubmitButton{

}

.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}
.inputfile + label {
    font-size: 1vw;
    font-weight: 700;
    color: white;
    background-color: rgb(42, 101, 152);
    display: inline-block;
    border-radius: 3px;
    border: 1px solid #777;
    padding: 6px 7px;
    margin-top: 2vh;
    margin-left:5%
}

.inputfile:focus + label,
.inputfile + label:hover {
    background-color: red;
}
.inputfile + label * {
    pointer-events: none;
}

.studentProjectTag{
    font-size: 3vw;
}



/* doctor page */
.doctorsStudentContainer{
    margin-left: 2%;
    padding:3vh 10px;
    -webkit-box-shadow: 0px 0px 11px -3px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 11px -3px rgba(0,0,0,0.75);
box-shadow: 0px 0px 11px -3px rgba(0,0,0,0.75);
border-radius: 10px;
margin-top: 5vh;
margin-bottom: 8vh
}
.doctorsStudentTabImg{
        height: auto;
    width: 10vw;
}
.doctorsStudentTabName{
    font-size: 1.3vw;
    text-align: center;
    padding-top: 1.5vh;
}
.doctorsStudentTabYear{
    font-size: 1vw;
    margin-top: -1vh;
    text-align: center;
}
.facultyAddRemark{
    border-radius: 8px
}