@media only screen and (max-width: 768px) {
	.navbar-brand {
		margin-top: 0vh;
		color: #003484 !important;
		font-size: 4vw
	}

	.navbar-collapse.collapse {
		height: 40vh
	}

	.indexNavbarIitrLogo {
		height: auto;
		width: 7vw;
		margin-top: -.5vh;
		margin-left: 3vw;
	}

	.navbar-default .navbar-nav > li > a {
		color: #777;
		font-size: 4vw;
		margin-top: 0vh;
		margin-right: 17px;
	}

	.indexSliderImage {
		height: 38vh !important;
		width: 100vw;
	}

	.sparkFullFormTag {
		margin-left: 29%;
		font-size: 1.1vw;
		display: none;
	}

	.sparkNavbarTag {
		font-size: 5.6vw !important;
	}

	.moveToUpButton {
		padding: .5% 4px .5% 5px;
		top: 87vh;
		left: 83%;
		font-size: 10.6vw
	}

	/* main css*/
	.indexIntroductionTag {
		font-size: 7vw;
		margin-top: 5vh;
		padding-bottom: 0.5vh;
		text-align: center;
	}

	.indexObjectiveTag {
		font-size: 5vw;
	}

	.indexIntroductionText {
		font-size: 3.6vw;
		letter-spacing: 0.5px;
		word-spacing: 0px;
		padding: 0vh 2vw 0 2vw;
	}

	.indexGuidelinesTag {
		font-size: 7vw;
		margin-top: 5vh;
		padding-bottom: 0.5vh;
		text-align: center;
	}

	.indexGuidelines li {
		font-size: 3.6vw;

	}

	.indexApplyNowButton {
		font-size: 3.4vw;
		margin-top: 4vh;
		width: 30vw;
	}

	.loginModalHeader {
		font-size: 4vw;
	}

	.loginModalSignupButton {
		font-size: 3.7vw;
		padding: 1vh 38vw;
	}

	.modal-dialog {
		margin-top: 0vh
	}

	.loginModalWidth {
		width: 95%
	}

	.indexContactUs {
		margin-top: -6vh
        text-align: center;
	}

    .indexContactUs1{
        margin-left: 16.67%;
        text-align: center;
    }

    .indexContactUs1Details{

        text-align: center;
    }

	.signupHereTag {
		font-size: 8vw;
		margin-bottom: 2vh;
		margin-top: -5vh;
	}


	p.studentProfileInstructionsTag {
		margin-bottom: 0vh;
		margin-left: 4vh;
		font-size: 4vh;
	}

	p.studentProfileInstructionsTag:first-letter{
		font-size: 5vh;
	}

    p.studentProfileStatusTag {
        margin-bottom: 0vh;
        text-align: center;
        font-size: 4vh;
    }

    p.studentProfileStatusTag:first-letter{
        font-size: 5vh;
    }

    .studentProfileStatus {

        font-size: 2.5vh;
        margin-top: 0px;
    }

    .studentProfileUploadTag0{
        font-size: 2vh;
        font-weight: bold;
        text-align: center;
        margin: unset;
        margin-left: 4%;

        margin-top: 2.5vh;
    }

    .studentProfileUploadTag{
        font-size: 2vh;
        font-weight: bold;
        margin: unset;
        margin-top: 2.5vh;
        margin-left: -1vh;

        text-align: center;
    }

	.studentProfileImageSubmitButton{
		width: 100px;

	}

	.studentProfileSeeTranscriptsButton{
		margin-top: 2vh;
		margin-left: 6vh;
		width: 100px;
	}

	.studentProfileSeeTranscriptsButton1{
		margin-top: 2vh;
		margin-left: 8vh;
		width: 80px;
	}
	.studentProfileComplaintBox{
		width:91%;
		padding: 15px;
		margin-bottom: 20px;
		margin-left: 2.5vh;
		border: 1px solid lavender;
		border-radius: 4px;
	}

	.studentProfileComplaintTag{
		font-size: 3vh;
		font-weight: bold;
		margin: unset;
		margin-top: 2.5vh;
		text-align: center;
	}


    .projectSearchingInput{

    }

    .inputfile {

        opacity: 0;
        overflow: hidden;
        position: absolute;
        z-index: -1;

    }

    .inputfile1 {
        overflow: hidden;
        position: absolute;
        margin-top: 13px;
    }


    .inputfile + label {
        font-size: 2vh;
        font-weight: 700;
        color: white;
        background-color: rgb(42, 101, 152);
        display: inline-block;
        border-radius: 3px;
        border: 1px solid #777;
        padding: 6px 7px;
        margin-top: 2vh;
        margin-left:5%
    }

	.pdfDisplay{
		height: 116vh;
	}



	.facultyProfileComplaintBox{
		width:91%;
		padding: 15px;
		margin-bottom: 20px;
		margin-left: 2.5vh;
		border: 1px solid lavender;
		border-radius: 4px;
	}
	.facultyProfileComplaintTag{
		font-size: 3vh;
		font-weight: bold;
		margin: unset;
		margin-top: 2.5vh;
		text-align: center;
	}

	.facultyProfileComplaintButton{
		margin-left: 20vh;
		margin-top: 0vh;
	}

	.indexNotice{
font-size: 3.6vw;
	}

	.studentProfileImg{
		height: auto;
		width: 20vw;
	}
















}